<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/CSS/index.css" />
		<title>About</title>
	</head>
	<body>
		<nav class="container">
			<ul class="list-none">
				<li class="list-nav"><a href="/">Home</a></li>
				<li class="list-nav"><a href="/about">About</a></li>
				<li class="list-nav"><a href="/contact">Contact</a></li>
			</ul>
		</nav>
		<div class="container card">
			<h1 class="text-gray-2">About Me</h1>
			<p class="about text-gray">
				"Hai! Perkenalkan namaku Muhammad Rafli dan sering dipanggil rafli oleh
				orang orang dekat ku. Saat ini aku sedang menjalani bootcamp pemrograman
				yang diselenggarakan oleh Eduwork. Aku mengambil kelas MERN STACK
				developer yang mana kedepannya aku berharap dapat menjadi developer web
				professional dengan Stack MERN yang aku pelajari. Senang bertemu
				denganmu, sampai jumpa lagi!"
			</p>
		</div>
	</body>
</html>
