<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/CSS/index.css" />
		<title>Contact</title>
	</head>
	<body>
		<nav class="container">
			<ul class="list-none">
				<li class="list-nav"><a href="/">Home</a></li>
				<li class="list-nav"><a href="/about">About</a></li>
				<li class="list-nav"><a href="/contact">Contact</a></li>
			</ul>
		</nav>
		<div class="container card">
			<h1 class="mb text-gray-2">Contact me</h1>
			<h4 class="mb text-gray-2">Kamu bisa menghubungiku melalui:</h4>
			<ul class="list-none">
				<li class="mb-2 text-gray">WhatsApp: +62813-4022-033</li>
				<li class="mb-2 text-gray">Facebook: Muhammad Rafli</li>
				<li class="mb-2 text-gray">Instagram: _mraf19</li>
				<li class="mb-2 text-gray">Email: raflimr1902@gmail.com</li>
				<li class="mb-2 text-gray">Github: https://github.com/mraf19</li>
			</ul>
		</div>
	</body>
</html>
