<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/CSS/index.css" />
		<title>Home</title>
	</head>
	<body>
		<nav class="container">
			<ul class="list-none">
				<li class="list-nav"><a href="/">Home</a></li>
				<li class="list-nav"><a href="/about">About</a></li>
				<li class="list-nav"><a href="/contact">Contact</a></li>
			</ul>
		</nav>
		<div class="container">
			<h1 class="mb text-gray-2">Selamat Datang</h1>
			<h3 class="mb text-gray-2">
				Ini adalah halaman pertamaku menggunakan Framework Express JS
			</h3>
		</div>
	</body>
</html>
